In [7]:

from db_connection import read_sql, to_sql

query = """
  --sql
  select
    brand,
    base_model,
    drivetrain,
    cooled_seats,
    heated_steering_wheel,
    COUNT(*) AS CNT
  from main.MASTER_CARS
  GROUP BY
    brand,
    base_model,
    drivetrain,
    cooled_seats,
    heated_steering_wheel
  HAVING CNT > 100
; 
"""

df = read_sql(query)

to_sql(df, table_name='main.CARS_FILTERED')